<nav class="zone sticky">
  <ul class="main-nav">
    <li><a href="">Network map</a></li>
    <li class="push">
        <!-- <div>
            <svg
            viewBox="0 0 120 120"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
          >
            <circle cx="10" cy="10" r="10" />
          </svg>
          <a href="">Investors</a>
        </div> -->
        <a href="">Investors</a>
    </li>
    <li class="push"><a href="">Investments</a></li>
    <li class="push"><a href="">Funds</a></li>
    <li class="push"><a href="">Subsidiaries</a></li>
    <li class="push"><a href="">Auditor</a></li>
    <li class="push"><a href="">Board seats</a></li>
    <li class="push"><a href="">PEI</a></li>
  </ul>
</nav>
