<div class="grid-wrapper">
  <!-- ROW 1 -->
  <div class="grid-wrapper-row-1">
    <div class="zone-container">
      <div class="grid-wrapper-row-content">
        <div class="box-content zone-content">Dell</div>
        <div class="box-content zone-content">Intell</div>
        <div class="box-content zone-content">Samsung</div>
        <div class="box-content zone-content">Gas</div>
        <div class="box-content zone-content">HP</div>
        <div class="box-content zone-content">+ 86</div>
      </div>
      <div class="grid-wrapper-row-content-desc">Investors</div>
    </div>

    <div class="zone-container">
      <div class="grid-wrapper-row-content">
        <div class="box-content zone-content">Dell</div>
        <div class="box-content zone-content">Intell</div>
        <div class="box-content zone-content">Samsung</div>
        <div class="box-content zone-content">Gas</div>
        <div class="box-content zone-content">HP</div>
        <div class="box-content zone-content">+ 86</div>
      </div>
      <div class="grid-wrapper-row-content-desc">Invesments</div>
    </div>

    <div class="zone-container">
      <div class="grid-wrapper-row-content">
        <div class="box-content zone-content">Dell</div>
        <div class="box-content zone-content">Intell</div>
        <div class="box-content zone-content">Samsung</div>
        <div class="box-content zone-content">Gas</div>
        <div class="box-content zone-content">HP</div>
        <div class="box-content zone-content">+ 86</div>
      </div>
      <div class="grid-wrapper-row-content-desc">Founds</div>
    </div>

    <div class="zone-container">
      <div class="grid-wrapper-row-content">
        <div class="box-content zone-content">Dell</div>
        <div class="box-content zone-content">Intell</div>
        <div class="box-content zone-content">Samsung</div>
        <div class="box-content zone-content">Gas</div>
        <div class="box-content zone-content">HP</div>
        <div class="box-content zone-content">+ 86</div>
      </div>
      <div class="grid-wrapper-row-content-desc">Subsidiaries</div>
    </div>
  </div>

  <!-- ROW 2 -->
  <div class="grid-wrapper-row-2">
    <div class="box-content-main zone-content">Ford</div>
  </div>

  <!-- ROW 3 -->
  <div class="grid-wrapper-row-3">
    <div class="zone-container">
      <div class="grid-wrapper-row-content-desc">Auditor</div>
      <div class="box-content zone-content">KPMG</div>
    </div>

    <div class="zone-container">
      <div class="grid-wrapper-row-content-desc">Board Seats</div>
      <div class="grid-wrapper-row-content">
        <div class="box-content zone-content">Dell</div>
        <div class="box-content zone-content">Intell</div>
        <div class="box-content zone-content">Samsung</div>
        <div class="box-content zone-content">Gas</div>
        <div class="box-content zone-content">HP</div>
        <div class="box-content zone-content">+ 86</div>
      </div>
    </div>

    <div class="zone-container-dash">
        <div class="grid-wrapper-row-content-desc" style="margin-top: -35px">Board Seats</div>
      <div class="grid-wrapper-row-bigger-container">

        <div class="box-content-bigger zone-content expand-content">+10,531</div>

        <div class="grid-wrapper-row-small-container border-right-dashed">
          <div class="zone-content expand-content-small box-content-sub">PEI1</div>
          <div class="box-content zone-content">Dell</div>
          <div class="box-content zone-content">Intell</div>
          <div class="box-content zone-content">Samsung</div>
          <div class="box-content zone-content">Gas</div>
        </div>
        <div class="grid-wrapper-row-small-container">
            <div class="zone-content expand-content-small box-content-sub">PEI2</div>
          <div class="box-content zone-content">Dell</div>
          <div class="box-content zone-content">Intell</div>
          <div class="box-content zone-content">Samsung</div>
          <div class="box-content zone-content">Gas</div>
        </div>
        <div class="grid-wrapper-row-small-container border-left-dashed">
            <div class="zone-content expand-content-small box-content-sub">PEI3</div>
          <div class="box-content zone-content">Dell</div>
          <div class="box-content zone-content">Intell</div>
          <div class="box-content zone-content">Samsung</div>
          <div class="box-content zone-content">Gas</div>
        </div>
      </div>
    </div>
  </div>
</div>
